@keyframes Spacesfade {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    25% {
        transform: translateY(-50%);
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes imgAnimation1 {
    0% {
        opacity: 0.2;
        transform: translateY(-10%);
    }
    25% {
        opacity: 0.5;
        transform: translateY(-5%);
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes imgAnimation2 {
    0% {
        opacity: 0.2;
        transform: translateY(-10%);
    }
    33% {
        opacity: 0.5;
        transform: translateY(-5%);
    }
    40% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes imgAnimation3 {
    0% {
        opacity: 0.2;
        transform: translateY(-10%);
    }
    25% {
        opacity: 0.5;
        transform: translateY(-5%);
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
}

#spaces__img1 {
    animation: imgAnimation1 linear;
    animation-timeline: view();
}

#spaces__img2 {
    animation: imgAnimation2 linear;
    animation-timeline: view();
}

#spaces__title,
#spaces__text,
#spaces__button,
#spaces__img3 {
    animation: imgAnimation3 linear;
    animation-timeline: view();
}

#spaces__title,
#spaces__text,
#spaces__button {
    animation: Spacesfade linear;
    animation-timeline: view();
}

.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .button {
        padding: 1rem 1.75rem;
    }

    .button__icon {
        width: 22px;
        height: 22px;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
}
